# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GraduationProject\LogisticsSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
